.videos-section
  position: relative
  padding: 10px

  .video-item:last-child
    margin-right: 0px
  .video-item
    width: 242px
    margin-right: 10px
    float: left
    display: inline-block
    //.video-caption, .video-container
    .video-caption
      padding: 4px
      background-color: $black-watered
      position: absolute
      height: 40px
      line-height: 1
      top: 130px
      width: 242px
      color: #FFF

