.videos-section
  position: relative
  padding: 10px
  .video-item
    float: left
    display: inline-block
    //.video-caption, .video-container
    .video-caption
      padding: 4px
      background-color: $black-watered
      position: absolute
      width: 244px
      height: 40px
      line-height: 1
      top: 130px
