<div class="subnav">
  <div class="container">

    <div class="breadcrumbs pull-left">
      <p>Explorando: Página Inicial > Notícias en destaque</p>
    </div>
    <div class="menu-principal pull-right">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      <span>Menú Principal</span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="container">
  <div class="domain-container">

  </div>
</div>

<div class="container">
  <ng-include src="'views/partials/videos-section.html'"></ng-include>

  <div class="section" ng-repeat="n in [0,1,2,3,4,5]">

  </div>
</div>

